﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container-fluid bg-dark text-light p-5">
        <div class="container bg-dark p-5">
            <h1 class="display-4">Welcome to E-Sports Battle Arena!</h1>
            <p class="lead">Here you can check our variery of players and teams and battle with each other!</p>
            <hr class="my-4">
            <p class="lead">
                <a asp-controller="Teams" asp-action="All" class="btn btn-primary btn-lg" role="button">See Teams</a>
            </p>

        </div>
    </div>
</div>
