﻿@using E_SportManager.Data.enums
@model AddPlayerFormModel
@{
    ViewData["Title"] = "Add Player";
}

<link rel="stylesheet" href="/css/addPlayer.css">

<h1 class="text-center mt-2">Add a new Player</h1>
<div class="row mt-4 mb-4">
    <div id="player" class="player col-6 col-lg-3 game-player h-100 m-auto">
        <img id="player-image"
             src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png"
             class="player-img-top img-fluid player-image">
        <div class="player-body">
            <h5 id="player-name" class="player-title text-center mt-3" data-toggle="tooltip">
                Empty Name
            </h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" id="items">
                    <span id="player-role" class="role">Empty role</span>
                    <span id="player-division" class="division d-flex">Empty division</span>
                </li>
            </ul>
        </div>
    </div>
    <form class="col-6 col-lg-9" method="post">
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" type="text" class="form-control" id="name-input">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="ImageUrl">Image URL</label>
            <input asp-for="ImageUrl" type="text" class="form-control" id="image-input">
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="Role">Role</label>
            <select asp-for="Role" id="role-input" placeholder="Select a role">
                @foreach (var role in Enum.GetValues(typeof(Role)))
                {
                    <option>@role</option>
                }
            </select>
            <span asp-validation-for="Role" class="text-danger"></span>
            <div class="form-group mt-3">
                <label asp-for="Division">Division</label>
                <select asp-for="Division" id="division-input" placeholder="Select a division">
                    @foreach (var division in Enum.GetValues(typeof(Division)))
                    {
                        <option>@division</option>
                    }
                </select>
                <span asp-validation-for="Division" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group mt-3">
            <label asp-for="YearsOfExperience">Years of experience</label>
            <input asp-for="YearsOfExperience" type="number" class="form-control" id="role-input">
            <span asp-validation-for="YearsOfExperience" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" class="form-control" id="description-input"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-block btn-primary mt-3 w-100">Create Player</button>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script src="~/js/addForm.js"></script>
    <script src="~/js/selectize.js"></script>
}
