﻿@model PlayerDetailsViewModel

@{
    ViewData["Title"] = "Player Details";
}

<link rel="stylesheet" href="/css/addPlayer.css">

<body>
    <main>
        <div id="container">
            <h1 class="text-center">@Model.Name</h1>
            <div class="row mt-4 mb-4">
                <div class="col-6 col-lg-3 m-auto">
                    <img src="@Model.ImageUrl"
                         class="player-img-top img-fluid player-details-img">
                    <div class="player-body">
                        <ul class="list-group list-group-flush mt-3">
                            <li class="list-group-item" id="items">
                                <span id="player-role" class="role">@Model.Role</span>
                                <span id="player-division" class="division d-flex">@Model.Division</span>
                            </li>
                        </ul>
                        <div class="text-center">
                            <p class="y-size">Years of experience:</p>
                            <span class="y-size" id="years">@Model.YearsOfExperience</span>
                        </div>
                    </div>
                </div>
                <h2 class="text-center">Player description:</h2>
                <div id="content" class="mt-2">
                    <p>@Model.Description</p>
                </div>
            </div>
        </div>
    </main>
</body>

