﻿@model TeamDetailsViewModel
@{
    ViewData["Title"] = "Team Details";
}

<link rel="stylesheet" href="/css/addPlayer.css">

<body>
    <main>
        <div id="container">
            <input value="@Model.Id" name="teamId" id="teamId" hidden />
            <h1 class="text-center">@ViewData["Title"]</h1>
            <div id="player" class="col-6 col-lg-3 h-100 m-auto">
                <img id="player-image"
                     src="@Model.ImageUrl"
                     class="player-img-top img-fluid player-image">
                <h5 id="player-name" class="player-title text-center mt-1 pb-2" data-toggle="tooltip">
                    @Model.Title
                </h5>
            </div>
        </div>
        <div id="sections">
            <div class="player_section mt-3">
                <div class="d-flex" style="justify-content: center; gap: 25px;">
                    <div id="player" class="player h-50">
                        <img id="player-mid-image"
                             src="@Model.MidLanerImageUrl"
                             class="player-img-top img-fluid player-image">
                        <h5 id="player-role-mid" class="player-title text-center mt-3" data-toggle="tooltip">
                            @Model.MidLaner
                        </h5>
                    </div>
                    <div id="player" class="player h-50">
                        <img id="player-top-image"
                             src="@Model.TopLanerImageUrl"
                             class="player-img-top img-fluid player-image">
                        <h5 id="player-role-top" class="player-title text-center mt-3" data-toggle="tooltip">
                            @Model.TopLaner
                        </h5>
                    </div>
                    <div id="player" class="player h-50">
                        <img id="player-jungle-image"
                             src="@Model.JungleLanerImageUrl"
                             class="player-img-top img-fluid player-image">
                        <h5 id="player-role-jungle" class="player-title text-center mt-3" data-toggle="tooltip">
                            @Model.JungleLaner
                        </h5>
                    </div>
                </div>
                <div class="d-flex mt-5" style="justify-content: center; gap: 25px;">
                    <div id="player" class="player h-50">
                        <img id="player-bottom-image"
                             src="@Model.BottomLanerImageUrl"
                             class="player-img-top img-fluid player-image">
                        <h5 id="player-role-bottom" class="player-title text-center mt-3" data-toggle="tooltip">
                            @Model.BottomLaner
                        </h5>
                    </div>
                    <div id="player" class="player h-50">
                        <img id="player-support-image"
                             src="@Model.SupportLanerImageUrl"
                             class="player-img-top img-fluid player-image">
                        <h5 id="player-role-support" class="player-title text-center mt-3" data-toggle="tooltip">
                            @Model.SupportLaner
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="row mt-3">
                <div class="col-12 text-center">
                    <button class="btn btn-primary" id="statistics-button">Show Statistics</button>
                </div>
            </div>

            <div class="container-fluid bg-dark text-light p-5 d-none" id="statistics">
                <div class="row">
                    <h2 class="col-md-4 text-center" id="rating"></h2>
                    <h2 class="col-md-4 text-center" id="wonGames"></h2>
                    <h2 class="col-md-4 text-center" id="lostGames"></h2>
                </div>
            </div>
        }
    </main>
</body>

@section Scripts {
    <script>
        $('#statistics-button').click(function () {
            $.ajax({
                type: "GET",
                url: "/api/statistics",
                data: { "id": $("#teamId").val() },
                success: function (html) {
                    $('#rating').text("Rating: " + html.rating);
                    $('#wonGames').text("Won games: " + html.wonGames);
                    $('#lostGames').text("Lost games: " + html.lostGames);

                    $('#statistics').removeClass('d-none');
                    $('#statistics-button').hide();
                }
            });
        });

    </script>
}
