﻿@model EditTeamFormModel

@{
    ViewData["Title"] = "Team Edit";
}

<link rel="stylesheet" href="/css/addPlayer.css">

<body>
    <main>
        <div id="container">
            <h1 class="text-center">@ViewData["Title"]</h1>
            <div id="player" class="player col-6 col-lg-3 game-player h-100 m-auto">
                <img id="player-image"
                     src="@Model.ImageUrl"
                     class="player-img-top img-fluid player-image">
                <h5 id="player-name" class="player-title text-center mt-1 pb-2" data-toggle="tooltip">
                    @Model.Title
                </h5>
            </div>
        </div>
        <div id="sections">
            <form id="formH" method="post">
                <div class="form-group">
                    <label asp-for="Title">Name</label>
                    <input asp-for="Title" type="text" class="form-control" id="name-input">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="ImageUrl">Image URL</label>
                    <input asp-for="ImageUrl" type="text" class="form-control" id="image-input">
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="player_section mt-3">
                    <div class="d-flex" style="justify-content: center; gap: 25px;">
                        <div id="player" class="player h-50">
                            <img id="player-mid-image"
                                 src="@Model.MidLanerImageUrl"
                                 class="player-img-top img-fluid player-image">
                            <h5 id="player-role-mid" class="player-title text-center mt-3" data-toggle="tooltip">
                                @Model.MidLaner
                            </h5>
                            <div style="text-align: center;">
                                <label asp-for="MidLaner">Mid Role</label>
                                <select asp-for="MidLaner" id="mid-input" placeholder="Select a mid laner">
                                    @foreach (var midLaner in Model.MidLaners)
                                    {
                                        <option>@midLaner.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="MidLaner" class="text-danger"></span>
                            </div>
                        </div>
                        <div id="player" class="player h-50">
                            <img id="player-top-image"
                                 src="@Model.TopLanerImageUrl"
                                 class="player-img-top img-fluid player-image">
                            <h5 id="player-role-top" class="player-title text-center mt-3" data-toggle="tooltip">
                                @Model.TopLaner
                            </h5>
                            <div style="text-align: center;">
                                <label asp-for="TopLaner">Top Laner</label>
                                <select asp-for="TopLaner" id="top-input" placeholder="Select a top laner">
                                    @foreach (var topLaner in Model.TopLaners)
                                    {
                                        <option>@topLaner.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="TopLaner" class="text-danger"></span>
                            </div>
                        </div>
                        <div id="player" class="player h-50">
                            <img id="player-jungle-image"
                                 src="@Model.JungleLanerImageUrl"
                                 class="player-img-top img-fluid player-image">
                            <h5 id="player-role-jungle" class="player-title text-center mt-3" data-toggle="tooltip">
                                @Model.JungleLaner
                            </h5>
                            <div style="text-align: center;">
                                <label asp-for="JungleLaner">Jungle Role</label>
                                <select asp-for="JungleLaner" id="jungle-input" placeholder="Select a jungle laner">
                                    @foreach (var jungleLaner in Model.JungleLaners)
                                    {
                                        <option value=@jungleLaner.Name>@jungleLaner.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="JungleLaner" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mt-5" style="justify-content: center; gap: 25px;">
                        <div id="player" class="player h-50">
                            <img id="player-bottom-image"
                                 src="@Model.BottomLanerImageUrl"
                                 class="player-img-top img-fluid player-image">
                            <h5 id="player-role-bottom" class="player-title text-center mt-3" data-toggle="tooltip">
                                @Model.BottomLaner
                            </h5>
                            <div style="text-align: center;">
                                <label asp-for="BottomLaner">Bottom Role</label>
                                <select asp-for="BottomLaner" id="bottom-input" placeholder="Select a bot laner">
                                    @foreach (var bottomLaner in Model.BottomLaners)
                                    {
                                        <option>@bottomLaner.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="BottomLaner" class="text-danger"></span>
                            </div>
                        </div>
                        <div id="player" class="player h-50">
                            <img id="player-support-image"
                                 src="@Model.SupportLanerImageUrl"
                                 class="player-img-top img-fluid player-image">
                            <h5 id="player-role-support" class="player-title text-center mt-3" data-toggle="tooltip">
                                @Model.SupportLaner
                            </h5>
                            <div style="text-align: center;">
                                <label asp-for="SupportLaner">Support Role</label>
                                <select asp-for="SupportLaner" id="support-input" placeholder="Select a support laner">
                                    @foreach (var supportLaner in Model.SupportLaners)
                                    {
                                        <option>@supportLaner.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="SupportLaner" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex gap-4">
                    <button type="submit" class="btn btn-block btn-primary mt-3 w-50">Edit Team</button>
                    <a asp-controller="Teams"
                       asp-action="All"
                       class="btn btn-secondary mt-3 w-50">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </main>
</body>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script src="~/js/addForm.js"></script>

    <script>
        var $select = $('#top-input').selectize({
            create: false,
            sortField: false
        });

        var $select = $('#mid-input').selectize({
            create: false,
            sortField: false
        });

        var $select = $('#jungle-input').selectize({
            create: false,
            sortField: false
        });

        var $select = $('#support-input').selectize({
            create: false,
            sortField: false
        });

        var $select = $('#bottom-input').selectize({
            create: false,
            sortField: false
        });


        $('#mid-input').change(function () {
            $.ajax({
                type: "GET",
                url: "/api/images/player",
                data: { "title": $("#mid-input").val() },
                success: function (html) {
                    $('#player-mid-image').attr('src', html.imageUrl);
                }
            });
        });

        $('#bottom-input').change(function () {
            $.ajax({
                type: "GET",
                url: "/api/images/player",
                data: { "title": $("#bottom-input").val() },
                success: function (html) {
                    $('#player-bottom-image').attr('src', html.imageUrl);
                }
            });
        });

        $('#top-input').change(function () {
            $.ajax({
                type: "GET",
                url: "/api/images/player",
                data: { "title": $("#top-input").val() },
                success: function (html) {
                    $('#player-top-image').attr('src', html.imageUrl);
                }
            });
        });

        $('#jungle-input').change(function () {
            $.ajax({
                type: "GET",
                url: "/api/images/player",
                data: { "title": $("#jungle-input").val() },
                success: function (html) {
                    $('#player-jungle-image').attr('src', html.imageUrl);
                }
            });
        });

        $('#support-input').change(function () {
            $.ajax({
                type: "GET",
                url: "/api/images/player",
                data: { "title": $("#support-input").val() },
                success: function (html) {
                    $('#player-support-image').attr('src', html.imageUrl);
                }
            });
        });

    </script>
}